.productcard_container {
  width: 350px;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.productcard_image_container {
  width: 100%;
  height: auto;
  border-radius: 9%;
  overflow: hidden;
}
.productcard_datails {
}
.productcard_img {
  transition: all ease-in-out 0.5s;
}
.productcard_img:hover {
  transform: scale(1.2);
}
.productcard_name h1 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 2px;
}
.productcard_ratings {
  display: flex;
  gap: 10px;
  width: 160px;
  align-items: center;
}
.productcard_ratings h1 {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 5px;
}
.productcard_ratings h1 svg {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 5px;
  color: goldenrod;
}
.productcard_desc {
  display: flex;
  align-items: center;
}
.productcard_desc h1 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 2px;
  text-wrap: wrap;
  max-height: 30px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productcard_desc svg {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 2px;
  /* background-color: blanchedalmond; */
  color: rgb(141, 140, 140);
}
.productcard_price {
  display: flex;
  justify-content: space-between;
}
.productcard_price h1 {
  color: burlywood;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 2px;
}

.productcard_price svg {
  padding: 3px;
  background-color: burlywood;
  color: white;
}
